img, embed, object,video{
    max-width: 100%;
  }
  nav a, button{
    min-height: 48px;
    min-width: 48px;
  }
  
  body{
    background-color: #c9cae0;
  }
  body{
    text-align: left;
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: rgb(6, 107, 28);
      border-style: solid;
      border-width: 5px;
    }
  }